/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* #F44336;
#121212;
#1D1D1D;
#0077FF;
#323232;
#5453E0;
#262626;
#E91E63;
#FFFFFF;
#C4C5C5;
#20BD5F;
#5B5B5B; */

/*  Light Theme Color  */
/* body {
  background-color: #f2f2f2;
  color: #323232;
}

.primary-button {
  background-color: #ffb2a8;
  color: #ffffff;
}

.secondary-button {
  background-color: #ebebeb;
  color: #323232;
}

.success-message {
  color: #77d2c8;
}

.danger-message {
  color: #f75252;
}

.warning-message {
  color: #fdde00;
}

.info-message {
  color: #89cff0;
}

.muted-text {
  color: #a6a6a6;
}

.link {
  color: #0089ff;
} */

/* Dark theme colors */
/* 
body {
  background-color: #121212;-
  background: rgb(0, 0, 33);
  color: #ffffff;
}

nav {
  background-color: rgb(18, 18, 62);
}

.primary-button {
  background-color: #f44336;
  color: #ffffff;
}

.secondary-button {
  background-color: #1d1d1d;
  color: #ffffff;
}

.success-message {
  color: #20bd5f;
}

.danger-message {
  color: #e91e63;
}

.warning-message {
  color: #5b5b5b;
}

.info-message {
  color: #5453e0;
}

.muted-text {
  color: #c4c5c5;
}

.link {
  color: #0077ff;
} */
